<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PremierServiceSolutions.Properties.Settings.PremierServicedbConnectionString"
            connectionString="workstation id=PremierServicedb.mssql.somee.com;packet size=4096;user id=solafidei_SQLLogin_1;pwd=ny98xprdqh;data source=PremierServicedb.mssql.somee.com;persist security info=False;initial catalog=PremierServicedb"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>